<a href="/customer">dd</a>
<div class="ActiveMenu">
  <div class="ActiveMenu--Wrapper">
    <p class="ActiveMenu--Label">
      Active Menu:
    </p>
    <%= form_with url: set_active_menu_path, method: :post do |form|%>
      <select name="menu_id" id="menu_id">
        <%= @menus.each do |menu| %>
          <option value="<%= menu.id %>" onclick="this.form.submit()" <%= menu.active? ? "selected":"" %> ><%= menu.name %> </option>
        <% end %>
      </select>
    <% end %>
  </div>
</div>
<div class="NewMenuForm">
  <h3 class="NewMenuForm--Title">New Menu:</h3>
  <%= form_with url:"/menus", method: "post", class:"NewMenuForm--Form" do |form| %>
    <%= form.text_field :name, placeholder: "Name",class:"NewMenuForm--Input" %>
    <%= form.submit :Add, class: "Button Button__primary" %>
  <% end %>
</div>
<% Menu.all.each do |menu| %>
  <%= render partial: "admin/menu", locals: {
    menu: menu
  } %>
<% end %>
