<div class="ReportTable" >
  <div class="ReportTable--Title">
    <p>
      <%= @heading %>
    </p>
    <p>
      Total ₹<%= @total %>
    </p>
  </div>
  <div class="ReportTable--TableContainer">
    <table>
      <thead>
        <tr>
          <th>
            Order ID
          </th>
          <th>
            Date
          </th>
          <th>
            Amount
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <a href="/orders/<%= order.id %>">Order #<%= order.id %></a>
            </td>
            <td>
              <%= order.date.strftime("%d %b %Y") %>
            </td>
            <td>
              ₹<%= order.amount%>
            </td>
            <td>
              <% if order.status %>
                Delivered
              <% else %>
                Pending
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
