<h1 class="ReportsHeading" >
  Reports
</h1>
<div class="Report">
  <p class="Report--Title" >
    By Date
  </p>
  <div class="Report--FormContainer" >
    <%= form_with url: "/admin/report_by_date", method: :get, class:"Report--Form" do |form| %>
      <div class="Report--FormGroup" >
        <%= form.label :start_date %>
        <%= form.date_field :start_date, class:"Report--FormInput"%>
      </div>
      <div class="Report--FormGroup" >
        <%= form.label :end_date %>
        <%= form.date_field :end_date, class:"Report--FormInput"%>
      </div>
      <%= form.submit :Generate, class: "Button Button__primary" %>
    <% end %>
  </div>
</div>
<div class="Report">
  <p class="Report--Title">
    By User
  </p>
  <div class="Report--FormContainer" >
    <%= form_with url: "/admin/report_by_user", method: :get, class:"Report--Form Report--EmailForm" do |form| %>
      <div class="Report--FormGroup Report--EmailGroup" >
        <%= form.email_field :email, placeholder: "Email", class:"Report--FormInput"%>
        <%= form.submit :Generate, class: "Button Button__primary" %>
      </div>
    <% end %>
  </div>
</div>
