<div>
  <h1>Signup</h1>
  <div>
    <%= form_with url: users_path, method: :post do |form|%>
      <%= form.text_field :first_name, placeholder: "First Name" %>
      <%= form.text_field :last_name, placeholder: "Last Name" %>
      <%= form.email_field :email, placeholder: "Email" %>
      <%= form.password_field :password, placeholder: "Password" %>
      <%= form.button "Sign Up", class:"Button Button__primary" %>
    <% end %>
  </div>
  <div></div>
