<div class="OrderDetailTable" >
  <div class="OrderDetailTable--Title" >
    <p>
      Order #<%= @order.id %>
    </p>
    <p>
      Total ₹<%= @order.amount %>
    </p>
  </div>
  <div class="OrderDetailTable--TableContainer" >
    <div class="OrderDetailTable--Details" >
      <p>
        By: <%= @order.user.first_name %> <%= @order.user.last_name %>
      </p>
      <p>
        <% if @order.status %>
          Delivered
        <% else %>
          Pending
        <% end %>
      </p>
    </div>
    <table>
      <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.menu_item.name %>
            </td>
            <td>
              ₹<%= order_item.cost %> X <%= order_item.amount %>
            </td>
            <td>
              ₹<%= order_item.total %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
