<div class="CartTable" >
  <div class="CartTable--Header" >
    <p class="CartTable--Title" >My Cart</p>
    <p class="CartTable--Total">Total: <span class="CartTable--Total"> ₹<%= User.find(1).cart_total %> </span></p>
  </div>
  <div class="CartTable--TableContainer">
    <table class="CartTable--Table" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Modify</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% User.find(1).cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= cart_item.menu_item.name %>
            </td>
            <td>
              <%= image_tag(cloudinary_url(cart_item.menu_item.picture.key, options = {width:230, height: 153,crop: :fill})) %>
            </td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td>
              ₹<%= cart_item.cost %>
            </td>
            <td>
              <div class="CartTable--FormContainer">
                <%= form_with url: "/cart_items/#{cart_item.id}", method: :patch do |form| %>
                  <input type="text" name="amount" placeholder="Quantity" autocomplete="off" >
                  <input type="submit" value="Change" class="Button Button__primary ChangeButton" >
                <% end %>
              </div>
            </td>
            <td>
              <%= form_with url:"/cart_items/#{cart_item.id}", method: :delete do |form| %>
                <%= form.submit "Delete", class:"Button Button__primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="CartTable--PlaceOrderForm">
      <p class="CartTable--BottomTotal" >
        ₹<%= User.find(1).cart_total %>
      </p>
      <%= form_with url:"/orders", method: :post do |form| %>
        <%= form.hidden_field :user_id, value:1 %>
        <%= form.submit "Place Order", class:"Button Button__secondary" %>
      <% end %>
    </div>
  </div>
</div>
